@model IEnumerable<formBuilder.Models.Form>


<form asp-controller="QuestionSheet" method="post" asp-action="DeleteAnswers">
    <div class="form-group">
        <input type="submit" value="Delete Answers" class="btn btn-primary" />
    </div>
</form>

<form asp-controller="Form" asp-action="SettingsForForms" method="get">
    Filter : <input type="text" name="Searchstring" />
    <input type="submit" value="Filter" />
</form>

<p>
    <a asp-action="FormCreate">Create a new Form</a>
</p>
@*<p>
    <a asp-controller="QuestionSheet" asp-action="Create">Create a new Question</a>
</p>
*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nameOftheForm)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nameOftheForm)
                </td>
                <td>
                    <a asp-controller="Form" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Form" asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-controller="QuestionSheet" asp-action="AdminQuestionSheetControl" asp-route-id="@item.Id">Show Sheet</a>
                </td>
            </tr>
        }
    </tbody>
</table>